<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Flights</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="container">
	<div class="row">
		<div class="col">
			<h1>Flights</h1>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h2>Welcome <a th:href="@{/whoami}"><span sec:authentication="name">user</span></a>!</h2>
		</div>
	</div>
</body>
</html>